* {
  padding: 0;
  margin: 0;
}
.banner_headtext {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 50px 600px 10px 0px;
}
header {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.headerBox {
  flex-shrink: 0;
  background: rgba(229, 84, 115, 0.1);
  background-image: url("../Flower-Asset/pngwing\ 10.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 100px 200px 30px 100px;
}
button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  border: none;
}
button text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bannerDescription {
  display: flex;
  width: 504px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

/* heder Section end */
/* main Section Start */

.Sectionmain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SextionMainboxs {
  display: flex;
  width: 70%;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.SectionmainBoxcard {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.SectionmainBoxcard img {
  padding: 20px;
}
.SpanTag {
  color: #e55473;
}
.banner_headtextsecend {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.BannerSection {
  display: flex;
  justify-content: space-around;
  padding: 100px 200px 100px 200px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 100px;
}
.BannerSectionbox {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.BannerSectionbox .bannerText {
  padding: 500px 0px 0px 0px;
}

.BannerSectionboxone {
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Instagram Section Start */
.InstagramSection {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
.InstagramHead {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.InstagramDiscription {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.InstagramGaleay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  padding: 70px 200px;
}
.GalleryImage {
  height: auto;
  width: 200px;
}
.MainGelary {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Gallery {
  height: auto;
  width: 10%;
  margin-left: 10;
}
.InstagramGaleayBox {
  flex: 4;
}
.InputSectionmain {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.InputSection {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding: 100px;
  background-image: url("../Flower-Asset/Rectangle\ 9.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
.InputmainBox {
  margin-top: 50px;
  justify-content: space-around;
}
.InputBox {
  width: 350px;
  flex-shrink: 0;
  margin-right: 40px;
  border-radius: 8px;
  border: 0px;
  padding: 20px;
  background: #fff;
}

/* Footer Sectin Start */

.footerSection {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #111010;
  padding: 80px 100px;
}
.footerCopyright {
  margin-top: 60px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Bonas Section */
.BonasSection {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.BonasCard {
  flex: 3;
  height: 300px;
  width: 200px;
  margin: 20px;
  border-radius: 300px 300px 0px 0px;
  padding: 50px;

}
.CardImage{
  height: 300px;
  width: 200px;
}

